<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Blog Platform.">
        <title>Social Media</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        <link rel="stylesheet" href="/landing.css">
    </head>
    <body>

    <div class="startSection">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="center-align white-text">Welcome to <strong>Butter!</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <blockquote>
                        <h3 class="center-align white-text">Butter is a social media platform created to learn more about the backend world!</h3>                    
                    </blockquote>
                    <a class="waves-effect waves-light btn" href="/login">Login</a>
                    <a class="waves-effect waves-light btn" href="/register">Register</a>
                </div>
                <div class="col s12 m8">
                    <img src="https://image.ibb.co/cFJLPk/Landing.png" style="width: 100%;" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="secondSection" style="margin-top: -50px;">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2 class="center-align white-text" style="padding-top: 50px;">About</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3 class="center-align white-text">Butter is just like any other social media platform. There's a lot to come but many of the core functionalities are readily available</h3>                    
                    <h3 class="center-align white-text">You can create an account, update your info like a your favorite movie, update your display picture, visit your friends profiles, and even follow them.</h3>
                    <h3 class="center-align white-text">Once followed, you'll be able to see your friends most recent post in your feed section!</h3>
                    <h3 class="center-align white-text">To start off, you could follow the public accounts "Bruce Wayne" and "Clark Kent"</h3>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer.ejs %>