/* html {
    font-family: 'Roboto', sans-serif;
} */
html {
background: #50C9C3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centerThis {
    margin: 0 auto;
}

.name {
    font-size: 200%;
    font-weight: 500; 
}
.pref {
    font-weight: 400;
}

.uploader-button .uploadcare--widget__button_type_open {
    background-color: #2BBBAD;
    width: 150px;
}

.uploadcare--widget__text {
    margin-left: 0%;
}

.buttonMargin {
    margin-left: calc(50% - 75px);
    margin-bottom: 5%;
    width: 150px;
}

.uploadcare--widget_status_ready, .uploadcare--widget {
    margin-left: calc(50% - 75px);
}
.top-padding-login {
    padding-top: 28vh;
}

@media screen and (max-width: 768px) {
    .top-padding-login {
        padding-top: 20vh;
    }
}

.white-text {
    font-weight: 300;
}

.secondSection {
    background-color: red;
}